<div class="text-center">
  <h1>Shopping List for All Recipes</h1>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Recipe</th>
      <th>Food</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @user_recipes.each do |recipe| %>
      <% recipe.recipe_foods.each do |recipe_food| %>
        <tr>
          <td><%= recipe.name %></td>
          <td><%= recipe_food.food.name %></td>
          <td><%= recipe_food.quantity %></td>
          <td><%= recipe_food.food.price %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
