<p style="color: green"><%= notice %></p>
<div class="recipe">
<h1>Recipes</h1>

<div id="recipes",class="d-flex flex-column align-items-center gap-3  recipei",  style="border-width:0.5rem;">
  <% @recipes.each do |recipe| %>
    <div class="recipei">
    <%= render recipe %>
    <div class="actions">
      <%= link_to "Show this recipe", recipe , style: "border: 1px solid #e7720b; width: 190px; border-radius: 8px; padding: 10px 20px; text-decoration: none; color: #000; margin-left: 9px; display: inline-block; text-align: center;"%>
    </div>
    </div>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path, style: "border: 1px solid #e7720b; width: 190px; border-radius: 8px; padding: 10px 20px; text-decoration: none; color: #000; margin-left: 9px; display: inline-block; text-align: center;" %>
</div>