body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffe5b4;
}

.navbar {
    background-color: #e7720b;
    border-bottom: 2px solid #e7b03e;
    display: flex;
    flex-direction: row;
    gap: 24rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style: none;
    height: 6rem;
    margin-top: -0.6rem;
  }

  .bardiv .ulbar{
    display: flex;
    flex-direction: row;
  }

  .container-fluid {
    display: flex;
    flex-direction: row;
  }

  .bardiv {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    margin-top: -51.9rem;
    margin-left: 29rem
  }

  .bar-e {
    display: flex;
    flex-direction: row;
    width: 29%;
  }

  .imgbar {
    width: 100%;
    height: 5.9rem;
  }
    
  .navbar-brand {
    color: #fff;
    font-size: small;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style: none;
  }
  
  .navbar-toggler-icon {
    background-color: #efce77;
  }
  
  .navbar-nav .nav-item {
    margin-right: 15px;
    list-style: none;
    font-size:  large;
  }
  
  .navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
    text-decoration: none; 
    list-style: none;
  }
  
  ul {
    list-style: none;
  }

  
  .nav-link:hover {
    color: #e7b03e;
  }
  
  .navbar-link {
    color: #fff;
    list-style: none;
    text-decoration: none;
    font-size: large;
    gap: 19px;   
  }
  
  .navbar-link:hover {
    color: #afaeab;
  }
  
  .dropdown-menu {
    background-color: #e7720b;
    border: 1px solid #e7b03e;
  }
  
  .dropdown-item {
    color: #fff;
  }
  
  .dropdown-item:hover {
    background-color: #efce77;
  }
  
  .navbar-user {
    color: #fff;
  }
  
  .navbar-user strong {
    font-weight: bold;
  }
  
  .navbar-logout {
    color: #fff;
    border: 1px solid #e7b03e;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navbar-logout:hover {
    background-color: #efce77;
    color: #e7720b;
  }

.form-container {
  background-color: #ffe5b4;
  padding: 30px;
  border-radius: 8px;
  margin: 20px auto;
  width: 70%;
  text-align: center;
  font-size: large;
}

.form {
  background-color: #faf1e8;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  padding: 30px;
  border-radius: 8px;
  margin: 20px auto;
}

.form-container h2 {
  color: #000;
  font-size: 24px;
  margin-bottom: 15px;
}

.field {
  margin-bottom: 20px;
}

/* Label */
.field label {
  display: block;
  font-weight: bold;
  margin-bottom: 1px;
  color: #7a7979;
}

.field input[type="text"],
.field input[type="email"],
.field input[type="password"],
.field input[type="quantity"]{
  width: 99%;
  padding: 10px;
  border: 1px solid #e7b03e;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 66px;
}

.field .remember-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #969696;
}

.actions {
  margin-top: 15px;
  text-align: center;
}

.actions input[type="submit"] {
  background-color: #e7720b;
  width: 60%;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.actions input[type="submit"]:hover {
  background-color: #ffe5b4;
}

.links-container {
  background-color: #fff;
  border: 1px solid #e7720b;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  width: 80%;
}

.links-container a {
  display: inline-block;
  background-color: #e7720b;
  color: #fff;
  padding: 10px 20px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.links-container a:hover {
  background-color: #ffe5b4;
}

.linkdiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 29px;
  margin-top: 0;
  margin-left: 1.9rem;
}

.custom-btn {
  background-color: #e7720b;
  border-color: #e7720b;
  width: 150px; /* Adjust width as needed */
  border-radius: 8px;
  font-weight: bold;
}

.custom-btn:hover {
  background-color: #e7b03e;
  border-color: #e7b03e;
}

.recipe {
  background-color: #faf1e8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.recipei {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.recipe h4 {
  text-align: center;
}

p strong {
  color: #e7720b;
}

.itime, .descri {
  margin-top: 10px;
  border-top: 1px solid #e7720b;
  padding-top: 10px;
}

.username {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.links-show {
  display: flex;
  flex-direction: row;
}
  @media (max-width: 600px) {
    .navbar {
      background-color: #e7720b;
      border-bottom: 2px solid #e7b03e;
      display: flex;
      flex-direction: column;
      gap: 2px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      list-style: none;
      height: 12rem;
      margin-top: -0.6rem;
    }
  
    .container-fluid {
      display: flex;
      flex-direction: row;
    }
   .imgbar { 
    width: 80%;
    height: 4rem;
    margin-top: 1rem;
   }

   .bar-e {
    margin-left: -1rem;
    padding-right: 0;
    width: 19%;

   }
    .bardiv {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      list-style: none;
      margin-left: 9rem;
      gap: 0;
    }
    .bardiv .ulbar{
      display: flex;
      flex-direction: row;
      margin-left: -14rem;
      margin-top: 6rem;
    }

    .bardiv .logoutu {
      margin-left: -19rem;
      height: 1rem;
      margin-top: -0.7rem;
      display: flex;
      flex-direction: row;
    }
    .navbar-brand {
      color: #fff;
      font-size: 2rem;
      margin: 0;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      list-style: none;
      margin-left: 0;
    }
  
    .navbar-toggler-icon {
      background-color: #efce77;
    }
  
    .navbar-nav .nav-item {
      margin-right: 15px;
      font-size: medium;

    }
  
    .navbar-nav .nav-link {
      color: #fff;
      font-weight: bold;
      text-decoration: none;
    }
    
    
    ul {
      list-style: none;
    }
  
    .nav-link:hover {
      color: #e7b03e;
    }
  
    .navbar-link {
      color: #fff;
      text-decoration: none;
      font-size: medium;
      gap: 19px;
    }
  
    .navbar-link:hover {
      color: #afaeab;
    }
  
    .dropdown-menu {
      background-color: #e7720b;
      border: 1px solid #e7b03e;
    }
  
    .dropdown-item {
      color: #fff;
    }
  
    .dropdown-item:hover {
      background-color: #efce77;
    }

      .form-container {
        width: 90%;
        margin-left: 1rem;
      }

      .form {
        width: 100%;
      }
    
      .form-container h2,
      .field label,
      .field input[type="text"],
      .field input[type="email"],
      .field input[type="password"],
      .field .remember-label,
      .actions input[type="submit"] {
        font-size: 14px;
      }

      .actions input[type="submit"] {
        width: 80%;
      }

      .links-container {
        width: 90%;
        padding: 12px;
      }
      
      .links-container a {
        font-size: 12px;
      }
      
      .linkdiv {
      margin-left: 0;
      gap: 9px;
      }

      .links-show {
        flex-direction: column;
        align-items: center;
        gap: 1px;
        margin-bottom: 12px;
      }

      .add-food-btn {
        background-color: #ffe5b4;
        color: #e7720b;
        border: 1px solid #e7720b;
        border-radius: 8px;
        padding: 5px 10px;
        text-decoration: none;
        margin-left: 10px;
      }
    
      /* Table styles */
      .table {
        width: 70%;
        border-collapse: collapse;
        font-size: 12px;
      }
    
      .table th,
      .table td {
        border: 1px solid #e7720b;
        padding: 8px;
        text-align: center;
      }
  }
  
